/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/.idea/
/.vscode/
*.iml
*.hi
*.o
writefile
writefile.txt
/frege/
*.png
!/img/class-hierarchy-of-scala.png
!/img/cats-typeclass-hierarchy.png
!/.gitignore
!/img/REPLs.png
/shapeless-repl/target/
/shapeless-repl/project/target/
